// [*] Document
// [*] Size
$size--font-base: 10px !default; 
$size--font-body: 1.4rem !default;

// [*] Font
$font--default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$font--heading: "Montserrat", serif !default;
$font--code: "Mononoki", consolas, monospace !default;

// [*] Color
$color--bg: #fff !default;
$color--text: #2e3c40 !default;

$color--link:#55a1fb; 
$color--link-hover:darken(#55a1fb,20%); 

$color--default: #ecf0f1 !default;
$color--primary: #2c9fdd !default;
$color--secondary: #4c596b !default;

$color--success: #4ac291 !default;
$color--info: #fff !default;
$color--warning: #feb909 !default;
$color--error: #e53935 !default;

$color--palette-default: #fff !default;
$color--palette-primary: "#2c9fdd", "#1e88e5" !default;
$color--palette-success: "#4ac291", "#7cb342" !default;
$color--palette-info: #fff !default;
$color--palette-warning: #fff !default;
$color--palette-danger: #fff !default;

// [*] Responsive
$screen--mobile: 480px !default;
$screen--tablet: 768px !default;
$screen--desktop: 992px !default;
$screen--widescreen: 1600px !default;    