$sizes: ("xs", "mobile") ("sm", "tablet") ("md", "desktop") ("lg", "widescreen");

.container {
  width: 100%;
  margin: 0 auto;


  @include tablet {
    width: 75rem; 
  }

  @include desktop {
    width: 97rem;
  }

  @include widescreen {
    width: 110rem;
  }

}

.row{
  display:flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  &.no-gutter>.col{
    margin: 0px;
  }
  @include tablet {
    flex-wrap: nowrap;
  }
}

.col {
  display: flex;
  flex: 0 100%; 
  &:not(:first-child){
    margin-left: 2px;
    @include mobile {
      margin-left: 0;
    }  
  }
}

@each $size in $sizes {
  @for $i from 1 through 12 {
    .col.#{nth($size, 1) + $i} {
      @include mq(nth($size, 2)) {
        flex-basis:(100% / 12 * $i);
      }
    }
  }
  @for $i from 1 through 12 {
    .col.move-#{nth($size, 1) + $i} {
      @include mq(nth($size, 2)) {
        margin-left: (100% / 12 * $i);
      }
    }
  }
}