.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.text-right {
  text-align: right;
}

.move-right {
  float: right;
}

.inline:not(ul){
  display: inline-block;
}
ul.inline{
  @include tablet {
        display: inline-block; 
    }
}

.flex {
  display: flex;

  .move-right {
    text-align: right;
  }
}