/*
  HTML5 Reset :: style.css
  ----------------------------------------------------------
  We have learned much from/been inspired by/taken code where offered from:
  Eric Meyer          :: http://meyerweb.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
  In fact, it *will* cause problems with Google Maps' controls at small size.
  If this is the case for you, try uncommenting the following:
#map img {
    max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
  you'll have to restore the bullets within content,
  which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.text-right {
  text-align: right;
}

.move-right {
  float: right;
}

.inline:not(ul) {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  ul.inline {
    display: inline-block;
  }
}

.flex {
  display: flex;
}

.flex .move-right {
  text-align: right;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2e3c40;
}

a {
  text-decoration: none;
  color: #55a1fb;
}

a:hover, a:link, a:active {
  color: #056ce5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.4rem;
}

h3, .h3 {
  font-size: 1.6rem;
}

h4, .h4 {
  font-size: 1.4rem;
}

h5, .h5 {
  font-size: 1.2rem;
}

h6, .h6 {
  font-size: 1rem;
}

ul li a {
  display: block;
}

.navigation,
.navigation > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navigation {
  background: #fff;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 10px;
  padding: 10px;
}

.navigation .to-left, .navigation .to-right, .navigation .to-center {
  flex: 1 1 100%;
}

@media screen and (min-width: 768px) {
  .navigation .to-left, .navigation .to-right, .navigation .to-center {
    flex-basis: 1%;
  }
}

@media screen and (min-width: 768px) {
  .navigation .to-left > *, .navigation .to-right > *, .navigation .to-center > * {
    display: inline-block;
  }
}

.navigation .to-center {
  flex: 1 1 1%;
}

.navigation .to-center:first-child {
  margin-left: 33.33333%;
}

.navigation .to-center:last-child {
  margin-right: 33.33333%;
}

@media screen and (min-width: 768px) {
  .navigation .to-center {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation .to-left {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .navigation .to-right {
    text-align: right;
  }
}

.navigation .is-brand {
  font-weight: 500;
  font-size: 2.1rem;
}

.nav ul li {
  display: block;
}

@media screen and (min-width: 768px) {
  .nav ul li {
    display: inline-block;
  }
}

.nav ul li a {
  padding: 10px;
}

.nav ul li.has-menu {
  position: relative;
}

.nav ul li.has-menu ul {
  display: none;
  position: absolute;
  min-width: 150px;
  top: 100%;
  background-color: #fff;
  border: 1px solid #cccccc;
}

.nav ul li.has-menu ul li {
  display: block;
}

.nav ul li.has-menu li a {
  display: block;
  padding: 10px;
  text-align: left;
}

.nav ul li.has-menu:hover ul {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 75rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 97rem;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 110rem;
  }
}

.row {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.row.no-gutter > .col {
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .row {
    flex-wrap: nowrap;
  }
}

.col {
  display: flex;
  flex: 0 100%;
}

.col:not(:first-child) {
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .col:not(:first-child) {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .col.xs1 {
    flex-basis: 8.33333%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs2 {
    flex-basis: 16.66667%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs3 {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs4 {
    flex-basis: 33.33333%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs5 {
    flex-basis: 41.66667%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs6 {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs7 {
    flex-basis: 58.33333%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs8 {
    flex-basis: 66.66667%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs9 {
    flex-basis: 75%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs10 {
    flex-basis: 83.33333%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs11 {
    flex-basis: 91.66667%;
  }
}

@media screen and (max-width: 767px) {
  .col.xs12 {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs1 {
    margin-left: 8.33333%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs2 {
    margin-left: 16.66667%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs3 {
    margin-left: 25%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs4 {
    margin-left: 33.33333%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs5 {
    margin-left: 41.66667%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs6 {
    margin-left: 50%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs7 {
    margin-left: 58.33333%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs8 {
    margin-left: 66.66667%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs9 {
    margin-left: 75%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs10 {
    margin-left: 83.33333%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs11 {
    margin-left: 91.66667%;
  }
}

@media screen and (max-width: 767px) {
  .col.move-xs12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm1 {
    flex-basis: 8.33333%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm2 {
    flex-basis: 16.66667%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm3 {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm4 {
    flex-basis: 33.33333%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm5 {
    flex-basis: 41.66667%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm6 {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm7 {
    flex-basis: 58.33333%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm8 {
    flex-basis: 66.66667%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm9 {
    flex-basis: 75%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm10 {
    flex-basis: 83.33333%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm11 {
    flex-basis: 91.66667%;
  }
}

@media screen and (min-width: 768px) {
  .col.sm12 {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm1 {
    margin-left: 8.33333%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm2 {
    margin-left: 16.66667%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm3 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm4 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm5 {
    margin-left: 41.66667%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm6 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm7 {
    margin-left: 58.33333%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm8 {
    margin-left: 66.66667%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm9 {
    margin-left: 75%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm10 {
    margin-left: 83.33333%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 768px) {
  .col.move-sm12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col.md1 {
    flex-basis: 8.33333%;
  }
}

@media screen and (min-width: 992px) {
  .col.md2 {
    flex-basis: 16.66667%;
  }
}

@media screen and (min-width: 992px) {
  .col.md3 {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 992px) {
  .col.md4 {
    flex-basis: 33.33333%;
  }
}

@media screen and (min-width: 992px) {
  .col.md5 {
    flex-basis: 41.66667%;
  }
}

@media screen and (min-width: 992px) {
  .col.md6 {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 992px) {
  .col.md7 {
    flex-basis: 58.33333%;
  }
}

@media screen and (min-width: 992px) {
  .col.md8 {
    flex-basis: 66.66667%;
  }
}

@media screen and (min-width: 992px) {
  .col.md9 {
    flex-basis: 75%;
  }
}

@media screen and (min-width: 992px) {
  .col.md10 {
    flex-basis: 83.33333%;
  }
}

@media screen and (min-width: 992px) {
  .col.md11 {
    flex-basis: 91.66667%;
  }
}

@media screen and (min-width: 992px) {
  .col.md12 {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md1 {
    margin-left: 8.33333%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md2 {
    margin-left: 16.66667%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md3 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md4 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md5 {
    margin-left: 41.66667%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md6 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md7 {
    margin-left: 58.33333%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md8 {
    margin-left: 66.66667%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md9 {
    margin-left: 75%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md10 {
    margin-left: 83.33333%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 992px) {
  .col.move-md12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg1 {
    flex-basis: 8.33333%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg2 {
    flex-basis: 16.66667%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg3 {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg4 {
    flex-basis: 33.33333%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg5 {
    flex-basis: 41.66667%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg6 {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg7 {
    flex-basis: 58.33333%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg8 {
    flex-basis: 66.66667%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg9 {
    flex-basis: 75%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg10 {
    flex-basis: 83.33333%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg11 {
    flex-basis: 91.66667%;
  }
}

@media screen and (min-width: 1600px) {
  .col.lg12 {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg1 {
    margin-left: 8.33333%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg2 {
    margin-left: 16.66667%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg3 {
    margin-left: 25%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg4 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg5 {
    margin-left: 41.66667%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg6 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg7 {
    margin-left: 58.33333%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg8 {
    margin-left: 66.66667%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg9 {
    margin-left: 75%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg10 {
    margin-left: 83.33333%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg11 {
    margin-left: 91.66667%;
  }
}

@media screen and (min-width: 1600px) {
  .col.move-lg12 {
    margin-left: 100%;
  }
}
